
.cards{
  background-color: rgb(255, 244, 246);
  &:hover{
    background-color: rgb(253, 235, 238);
  }
}

.popup{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.modal{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.popupContent{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}